## A6.1 Exploratory Analysis
### This script contains the following points:

#### 1. Import libraries, data, and additional resources
#### 2. Data cleaning
#### 3. Data preparation
#### 4. Export clean boat sales data
#### 5. Import prepared boat sales data from Excel
#### 6. Conduct descriptive statistics, aggregations and frequency counts
#### 7. Create and export "Viewing by Appointment Only" subset
#### 8. Exporting subset data
---------------------------------------------------------------------------------------------------------------------------

### 1. Import libraries, data, and additional resources

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
from matplotlib.ticker import ScalarFormatter, FuncFormatter

In [2]:
#  Create/save project folder path
path = r"Boat Sales Analysis"

# Read boat data (csv file)
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'boat_sales_data.csv'), index_col = False)

# View dataframe
df

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland » Lake Geneva » Vésenaz,226.0
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany » Bönningstedt,75.0
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland » Lake of Zurich » Stäfa ZH,124.0
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark » Svendborg,64.0
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany » Bayern » München,58.0
...,...,...,...,...,...,...,...,...,...,...
9883,CHF 4900,Sport Boat,Sea Ray power boats,"Used boat,Unleaded",1987,6.30,2.44,NaN,Switzerland » Lago Maggiore » Riazzino,1116.0
9884,EUR 4516,Sport Boat,NaN,new boat from stock,0,4.17,1.68,GRP,Germany » Hamburg » HAMBURG,94.0
9885,EUR 4499,Sport Boat,BlueCraft power boats,"new boat from stock,Unleaded",2020,4.40,1.80,GRP,Germany » Nordrhein-Westfalen » Wesel,354.0
9886,EUR 4300,Pontoon Boat,Whaly power boats,new boat from stock,2018,4.37,1.89,NaN,Italy » Dormelletto,266.0
9887,CHF 3780,Fishing Boat,DarekCo power boats,new boat from stock,2019,3.60,1.60,GRP,Switzerland » Brienzersee » Brienz,194.0

In [3]:
# Turning off warning feature
import warnings
warnings.filterwarnings('ignore')

# Supress scientific notation for easier analysis profiling
pd.set_option('display.float_format', '{:.2f}'.format)

---------------------------------------------------------------------------------------------------------------------------
### 2. Data cleaning
#### wrangling steps, consistency checks

In [4]:
# Look for full duplicates within your dataframe, save as subset
df = df.drop_duplicates()

In [5]:
# Convert the values in columns to proper case
df['Boat Type'] = df['Boat Type'].str.title()

In [6]:
df['Manufacturer'] = df['Manufacturer'].str.title()

In [7]:
df['Type'] = df['Type'].str.title()

In [8]:
df['Location'] = df['Location'].str.title()

In [9]:
# Rename 'Type' column to 'Specifications'
df.rename(columns = {'Type' : 'Specifications'}, inplace = True)

#Print the dataframe head for review
df.head()

,Price,Boat Type,Manufacturer,Specifications,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex Power Boats,New Boat From Stock,2017,4.00,1.90,NaN,Switzerland » Lake Geneva » Vésenaz,226.00
1,EUR 3490,Center Console Boat,Terhi Power Boats,New Boat From Stock,2020,4.00,1.50,Thermoplastic,Germany » Bönningstedt,75.00
2,CHF 3770,Sport Boat,Marine Power Boats,New Boat From Stock,0,3.69,1.42,Aluminium,Switzerland » Lake Of Zurich » Stäfa Zh,124.00
3,DKK 25900,Sport Boat,Pioner Power Boats,New Boat From Stock,2020,3.00,1.00,NaN,Denmark » Svendborg,64.00
4,EUR 3399,Fishing Boat,Linder Power Boats,New Boat From Stock,2019,3.55,1.46,Aluminium,Germany » Bayern » München,58.00

In [10]:
# A summary of statistical measures for each numerical column
df.describe()

       Year Built  Length   Width  Number of views last 7 days
count     9888.00 9879.00 9832.00                      9884.00
mean      1893.19   11.57    3.52                       149.18
std        460.20    6.00    1.22                       151.84
min          0.00    1.04    0.01                        13.00
25%       1996.00    7.47    2.54                        70.00
50%       2007.00   10.28    3.33                       108.00
75%       2017.00   13.93    4.25                       172.00
max       2021.00  100.00   25.16                      3263.00

##### Note: 
(1) The mean is higher than the median for 'Number of views last 7 days', which tells me the data distribution for this variable is right-skewed due to some outliers ranging in higher views than regular, which could indicate popularity. 

(2) Price is unnaccounted for during consistency checks due to dtype. 

(3) Median is more useful than Mean within some variables.

---------------------------------------------------------------------------------------------------------------------------

In [11]:
# To see if there are any missing values
df.isnull().sum()

Price                             0
Boat Type                         0
Manufacturer                   1338
Specifications                    6
Year Built                        0
Length                            9
Width                            56
Material                       1749
Location                         36
Number of views last 7 days       4
dtype: int64

In [12]:
# View data types
df.dtypes

Price                           object
Boat Type                       object
Manufacturer                    object
Specifications                  object
Year Built                       int64
Length                         float64
Width                          float64
Material                        object
Location                        object
Number of views last 7 days    float64
dtype: object

##### Note: 
(1) Price data type is an object, and should be integer or float. (dtype to be changed in data prep phase)

---------------------------------------------------------------------------------------------------------------------------

### 3. Data preparation
#### deriving new variables

In [13]:
# Split the 'Location' column into three separate columns
df[['Country', 'Location', 'Area']] = df['Location'].str.split(' » ', expand=True)

# Print the DataFrame to view the result
df

,Price,Boat Type,Manufacturer,Specifications,Year Built,Length,Width,Material,Location,Number of views last 7 days,Country,Area
0,CHF 3337,Motor Yacht,Rigiflex Power Boats,New Boat From Stock,2017,4.00,1.90,NaN,Lake Geneva,226.00,Switzerland,Vésenaz
1,EUR 3490,Center Console Boat,Terhi Power Boats,New Boat From Stock,2020,4.00,1.50,Thermoplastic,Bönningstedt,75.00,Germany,None
2,CHF 3770,Sport Boat,Marine Power Boats,New Boat From Stock,0,3.69,1.42,Aluminium,Lake Of Zurich,124.00,Switzerland,Stäfa Zh
3,DKK 25900,Sport Boat,Pioner Power Boats,New Boat From Stock,2020,3.00,1.00,NaN,Svendborg,64.00,Denmark,None
4,EUR 3399,Fishing Boat,Linder Power Boats,New Boat From Stock,2019,3.55,1.46,Aluminium,Bayern,58.00,Germany,München
...,...,...,...,...,...,...,...,...,...,...,...,...
9883,CHF 4900,Sport Boat,Sea Ray Power Boats,"Used Boat,Unleaded",1987,6.30,2.44,NaN,Lago Maggiore,1116.00,Switzerland,Riazzino
9884,EUR 4516,Sport Boat,NaN,New Boat From Stock,0,4.17,1.68,GRP,Hamburg,94.00,Germany,Hamburg
9885,EUR 4499,Sport Boat,Bluecraft Power Boats,"New Boat From Stock,Unleaded",2020,4.40,1.80,GRP,Nordrhein-Westfalen,354.00,Germany,Wesel
9886,EUR 4300,Pontoon Boat,Whaly Power Boats,New Boat From Stock,2018,4.37,1.89,NaN,Dormelletto,266.00,Italy,None
9887,CHF 3780,Fishing Boat,Darekco Power Boats,New Boat From Stock,2019,3.60,1.60,GRP,Brienzersee,194.00,Switzerland,Brienz

In [14]:
# Split the 'Location' column into three separate columns
df[['Currency', 'Price']] = df['Price'].str.split(' ', expand=True)

# Print the DataFrame to view the result
df

,Price,Boat Type,Manufacturer,Specifications,Year Built,Length,Width,Material,Location,Number of views last 7 days,Country,Area,Currency
0,3337,Motor Yacht,Rigiflex Power Boats,New Boat From Stock,2017,4.00,1.90,NaN,Lake Geneva,226.00,Switzerland,Vésenaz,CHF
1,3490,Center Console Boat,Terhi Power Boats,New Boat From Stock,2020,4.00,1.50,Thermoplastic,Bönningstedt,75.00,Germany,None,EUR
2,3770,Sport Boat,Marine Power Boats,New Boat From Stock,0,3.69,1.42,Aluminium,Lake Of Zurich,124.00,Switzerland,Stäfa Zh,CHF
3,25900,Sport Boat,Pioner Power Boats,New Boat From Stock,2020,3.00,1.00,NaN,Svendborg,64.00,Denmark,None,DKK
4,3399,Fishing Boat,Linder Power Boats,New Boat From Stock,2019,3.55,1.46,Aluminium,Bayern,58.00,Germany,München,EUR
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9883,4900,Sport Boat,Sea Ray Power Boats,"Used Boat,Unleaded",1987,6.30,2.44,NaN,Lago Maggiore,1116.00,Switzerland,Riazzino,CHF
9884,4516,Sport Boat,NaN,New Boat From Stock,0,4.17,1.68,GRP,Hamburg,94.00,Germany,Hamburg,EUR
9885,4499,Sport Boat,Bluecraft Power Boats,"New Boat From Stock,Unleaded",2020,4.40,1.80,GRP,Nordrhein-Westfalen,354.00,Germany,Wesel,EUR
9886,4300,Pontoon Boat,Whaly Power Boats,New Boat From Stock,2018,4.37,1.89,NaN,Dormelletto,266.00,Italy,None,EUR
9887,3780,Fishing Boat,Darekco Power Boats,New Boat From Stock,2019,3.60,1.60,GRP,Brienzersee,194.00,Switzerland,Brienz,CHF

In [15]:
# Reorder dataframe columns
df = df[['Boat Type', 'Manufacturer', 'Specifications', 'Year Built', 'Length', 'Width', 'Material', 'Price', 'Currency', 'Country', 'Location', 'Area', 'Number of views last 7 days']]

# Print the dataframe for review
df

,Boat Type,Manufacturer,Specifications,Year Built,Length,Width,Material,Price,Currency,Country,Location,Area,Number of views last 7 days
0,Motor Yacht,Rigiflex Power Boats,New Boat From Stock,2017,4.00,1.90,NaN,3337,CHF,Switzerland,Lake Geneva,Vésenaz,226.00
1,Center Console Boat,Terhi Power Boats,New Boat From Stock,2020,4.00,1.50,Thermoplastic,3490,EUR,Germany,Bönningstedt,None,75.00
2,Sport Boat,Marine Power Boats,New Boat From Stock,0,3.69,1.42,Aluminium,3770,CHF,Switzerland,Lake Of Zurich,Stäfa Zh,124.00
3,Sport Boat,Pioner Power Boats,New Boat From Stock,2020,3.00,1.00,NaN,25900,DKK,Denmark,Svendborg,None,64.00
4,Fishing Boat,Linder Power Boats,New Boat From Stock,2019,3.55,1.46,Aluminium,3399,EUR,Germany,Bayern,München,58.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9883,Sport Boat,Sea Ray Power Boats,"Used Boat,Unleaded",1987,6.30,2.44,NaN,4900,CHF,Switzerland,Lago Maggiore,Riazzino,1116.00
9884,Sport Boat,NaN,New Boat From Stock,0,4.17,1.68,GRP,4516,EUR,Germany,Hamburg,Hamburg,94.00
9885,Sport Boat,Bluecraft Power Boats,"New Boat From Stock,Unleaded",2020,4.40,1.80,GRP,4499,EUR,Germany,Nordrhein-Westfalen,Wesel,354.00
9886,Pontoon Boat,Whaly Power Boats,New Boat From Stock,2018,4.37,1.89,NaN,4300,EUR,Italy,Dormelletto,None,266.00
9887,Fishing Boat,Darekco Power Boats,New Boat From Stock,2019,3.60,1.60,GRP,3780,CHF,Switzerland,Brienzersee,Brienz,194.00

In [16]:
# Calculate the median of the 'Number of views last 7 days' column
median_value = df['Number of views last 7 days'].median()

# Impute missing values with the calculated median
df['Number of views last 7 days'].fillna(median_value, inplace=True)

# Change dtype from float to int within last 7 days view
df['Number of views last 7 days'] = df['Number of views last 7 days'].astype(int)

In [17]:
# Change 'Year Built' dtype 
df['Price'] = df['Price'].astype(int)

In [18]:
# Reheck for dtypes
df.dtypes

Boat Type                       object
Manufacturer                    object
Specifications                  object
Year Built                       int64
Length                         float64
Width                          float64
Material                        object
Price                            int32
Currency                        object
Country                         object
Location                        object
Area                            object
Number of views last 7 days      int32
dtype: object

In [19]:
# Print unique values
df['Currency'].value_counts(dropna = False)

Currency
EUR    8430
CHF     980
£       298
DKK     180
Name: count, dtype: int64

##### Note:
change '£' to GBP (Pound Sterling)

---------------------------------------------------------------------------------------------------------------------------

In [20]:
# Replace '£' with 'GBP' in the 'Currency' column
df['Currency'] = df['Currency'].replace('£', 'GBP')

df['Currency'].value_counts(dropna=False)

Currency
EUR    8430
CHF     980
GBP     298
DKK     180
Name: count, dtype: int64

In [21]:
df['Material'].value_counts(dropna = False)

Material
GRP                    5484
NaN                    1749
PVC                    1123
Steel                   939
Wood                    235
Aluminium               229
Plastic                  77
Carbon Fiber             30
Thermoplastic            15
Hypalon                   5
Reinforced concrete       1
Rubber                    1
Name: count, dtype: int64

In [22]:
# Replace NaN values with blanks in the entire DataFrame
df.fillna('', inplace=True)

# Replace '0' with a space'' in the 'Year Built' column
df['Year Built'] = df['Year Built'].replace(0, '')

df

,Boat Type,Manufacturer,Specifications,Year Built,Length,Width,Material,Price,Currency,Country,Location,Area,Number of views last 7 days
0,Motor Yacht,Rigiflex Power Boats,New Boat From Stock,2017,4.00,1.90,,3337,CHF,Switzerland,Lake Geneva,Vésenaz,226
1,Center Console Boat,Terhi Power Boats,New Boat From Stock,2020,4.00,1.50,Thermoplastic,3490,EUR,Germany,Bönningstedt,,75
2,Sport Boat,Marine Power Boats,New Boat From Stock,,3.69,1.42,Aluminium,3770,CHF,Switzerland,Lake Of Zurich,Stäfa Zh,124
3,Sport Boat,Pioner Power Boats,New Boat From Stock,2020,3.00,1.00,,25900,DKK,Denmark,Svendborg,,64
4,Fishing Boat,Linder Power Boats,New Boat From Stock,2019,3.55,1.46,Aluminium,3399,EUR,Germany,Bayern,München,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9883,Sport Boat,Sea Ray Power Boats,"Used Boat,Unleaded",1987,6.30,2.44,,4900,CHF,Switzerland,Lago Maggiore,Riazzino,1116
9884,Sport Boat,,New Boat From Stock,,4.17,1.68,GRP,4516,EUR,Germany,Hamburg,Hamburg,94
9885,Sport Boat,Bluecraft Power Boats,"New Boat From Stock,Unleaded",2020,4.40,1.80,GRP,4499,EUR,Germany,Nordrhein-Westfalen,Wesel,354
9886,Pontoon Boat,Whaly Power Boats,New Boat From Stock,2018,4.37,1.89,,4300,EUR,Italy,Dormelletto,,266
9887,Fishing Boat,Darekco Power Boats,New Boat From Stock,2019,3.60,1.60,GRP,3780,CHF,Switzerland,Brienzersee,Brienz,194

---------------------------------------------------------------------------------------------------------------------------
### 4. Export clean boat sales data

In [23]:
# Export clean boat sales data as .csv to tidy up location column in Excel
df.to_csv(os.path.join(path, '02 Data','Prepared Data', 'boat_sales_clean.csv'))

---------------------------------------------------------------------------------------------------------------------------
### 5. Import prepared boat sales data from Excel

In [24]:
# Read prepared boat data (csv file)
df = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'boat_sales_prepared.csv'), encoding='latin1', index_col=None)

# View dataframe
df

,Boat Type,Manufacturer,Specifications,Year Built,Length,Width,Material,Price,Currency,Country,State_Region,Location,Number of views last 7 days
0,Motor Yacht,Bayliner Power Boats,"Used Boat, Unleaded",1992.00,7.70,2.46,Plastic,14900,CHF,Switzerland,Le Landeron,NaN,3263
1,Hardtop,Princess Power Boats,"Used Boat, Diesel",1979.00,11.12,3.88,GRP,35000,CHF,Switzerland,Neuenburgersee,Hauterive,2432
2,"Bowrider,Motor Yacht,Sport Boat",Windy Power Boats,"Used Boat, Diesel",2002.00,12.35,3.48,GRP,125900,CHF,Switzerland,Lago Maggiore,6600 Locarno,2261
3,Hardtop,Pershing Power Boats,"Used Boat, Diesel",2009.00,20.30,5.20,GRP,949000,EUR,Germany,Baltic Sea,Neustadt In Holstein,2154
4,Sport Boat,Sea Ray Power Boats,"Used Boat, Unleaded",1993.00,6.14,2.34,Plastic,19900,CHF,Switzerland,Murtensee,Avenches,2026
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9883,Hardtop,Jeanneau Power Boats,"New Boat From Stock, Diesel",2018.00,10.36,3.05,PVC,229950,GBP,United Kingdom,Lincoln,NaN,18
9884,Motor Yacht,NaN,"Used Boat, Diesel",2007.00,26.30,6.35,GRP,1500000,EUR,Italy,Mar Tirreno,NaN,18
9885,Center Console Boat,Bénéteau Power Boats,"New Boat From Stock, Unleaded",2020.00,6.41,2.48,PVC,62800,EUR,France,La Grande Motte,NaN,18
9886,Center Console Boat,Bénéteau Power Boats,"New Boat From Stock, Unleaded",2020.00,6.41,2.45,PVC,53900,EUR,France,Port Leucate,NaN,15
9887,Motor Yacht,Dominator Power Boats,"Used Boat, Diesel",2003.00,20.30,5.50,GRP,580000,EUR,Croatia,NaN,NaN,13

In [25]:
# Rename 'Number of views' column to '# of views'
df.rename(columns = {'Number of views last 7 days' : '# of views last 7 days'}, inplace = True)

---------------------------------------------------------------------------------------------------------------------------
### 6. Conduct descriptive statistics, aggregations and frequency counts

In [26]:
# Descriptive measures for each numerical column in pepared data
df.describe()

       Year Built  Length   Width       Price  # of views last 7 days
count     9337.00 9879.00 9832.00     9888.00                 9888.00
mean      2004.91   11.57    3.52   320137.34                  149.16
std         16.36    6.00    1.22  1007482.24                  151.81
min       1885.00    1.04    0.01     3300.00                   13.00
25%       1999.00    7.47    2.54    44000.00                   70.00
50%       2008.00   10.28    3.33    95000.00                  108.00
75%       2018.00   13.93    4.25   255000.00                  172.00
max       2021.00  100.00   25.16 31000000.00                 3263.00

In [27]:
# Change all categorical variables to Str objects - consistency check
df['Boat Type'].astype('str')
df['Manufacturer'].astype('str')
df['Specifications'].astype('str')
df['Year Built'].astype('str')
df['Material'].astype('str')
df['Currency'].astype('str')
df['Country'].astype('str')
df['State_Region'].astype('str')
df['Location'].astype('str')

# View dtypes
df.dtypes

Boat Type                  object
Manufacturer               object
Specifications             object
Year Built                float64
Length                    float64
Width                     float64
Material                   object
Price                       int64
Currency                   object
Country                    object
State_Region               object
Location                   object
# of views last 7 days      int64
dtype: object

In [28]:
# Aggregate boat types for smoother analysis (dervive 'Boat Category')

# Set conditions for each category using .loc method
df.loc[df['Boat Type'].isin(['Motor Yacht', 'Mega Yacht', 'Cabin Boat,Motor Yacht', 'Classic,Motor Yacht', 'Classic,House Boat,Motor Yacht', 'Hardtop,Motor Yacht']), 'Category'] = 'Motor Yacht'
df.loc[df['Boat Type'].isin(['Sport Boat', 'Sport Boat,Wakeboard/Wakesurf', 'Runabout,Sport Boat', 'Center Console Boat,Sport Boat', 'Sport Boat,Working Boat', 'Sport Boat,Water Ski', 'Center Console Boat,Working Boat', 'Sport Boat,Hardtop', 'Bowrider,Sport Boat,Wakeboard/Wakesurf', 'Sport Boat,Water Ski', 'Hardtop,Sport Boat', 'Motor Yacht,Sport Boat', 'Cabin Boat,Sport Boat,Water Ski', 'Cabin Boat,Pilothouse,Sport Boat']), 'Category'] = 'Sport Boat'
df.loc[df['Boat Type'].isin(['Trawler', 'Classic,Runabout,Trawler', 'Classic,Trawler', 'Cabin Boat,Trawler', 'Motor Yacht,Trawler', 'Classic,Sport Boat,Trawler']), 'Category'] = 'Trawler'
df.loc[df['Boat Type'].isin(['Cabin Boat', 'Cabin Boat,Fishing Boat,Cabin Boat', 'Cabin Boat,Classic,Motor Yacht', 'Cabin Boat,House Boat,Trawler', 'Classic,Cabin Boat', 'Cabin Boat,Motor Yacht,Trawler', 'Cabin Boat,Flybridge,Motor Yacht', 'Cabin Boat,Hardtop,Motor Yacht', 'Cabin Boat,Sport Boat,Water Ski', 'Cabin Boat,Classic,Trawler', 'Cabin Boat,Classic,Passenger Boat', 'Cabin Boat,Hardtop,Sport Boat', 'Cabin Boat,Flybridge', 'Cabin Boat,Fishing Boat,Pilothouse', 'Cabin Boat,Classic,Flybridge', 'Cabin Boat,Hardtop,Trawler', 'Cabin Boat,Motor Yacht,Offshore Boat', 'Cabin Boat,Sport Boat,Wakeboard/Wakesurf', 'Cabin Boat,Classic', 'Cabin Boat,Pilothouse,Sport Boat', 'Cabin Boat,Fishing Boat', 'Cabin Boat,Classic,House Boat']), 'Category'] = 'Cabin Boat'
df.loc[df['Boat Type'].isin(['Hardtop', 'Hardtop,Sport Boat', 'Classic,Hardtop,Motor Yacht', 'Classic,Hardtop,Mega Yacht', 'Bowrider,Hardtop,Motor Yacht', 'Hardtop,Motor Yacht,Sport Boat']), 'Category'] = 'Hardtop'
df.loc[df['Boat Type'].isin(['Center Console Boat', 'Center Console Boat,Fishing Boat,Sport Boat', 'Center Console Boat,Sport Boat,Water Ski', 'Center Console Boat,Classic', 'Center Console Boat,Deck Boat,Sport Boat', 'Bowrider,Center Console Boat,Sport Boat']), 'Category'] = 'Center Console Boat'
df.loc[df['Boat Type'].isin(['Bowrider', 'Bowrider,Sport Boat,Wakeboard/Wakesurf', 'Bowrider,Wakeboard/Wakesurf', 'Bowrider,Motor Yacht,Sport Boat', 'Bowrider,Center Console Boat,Sport Boat', 'Bowrider,Motor Yacht,Wakeboard/Wakesurf', 'Bowrider,Center Console Boat,Deck Boat,Water Ski', 'Bowrider,Classic']), 'Category'] = 'Bowrider'
df.loc[df['Boat Type'].isin(['Deck Boat', 'Deck Boat,Water Ski', 'Deck Boat,Pilothouse,Sport Boat']), 'Category'] = 'Deck Boat'
df.loc[df['Boat Type'].isin(['Fishing Boat', 'Fishing Boat, Passenger Boat,Working Boat', 'Fishing Boat,Sport Boat', 'Fishing Boat,Launch,Motor Yacht', 'Fishing Boat,Pilothouse', 'Fishing Boat,Flybridge,Trawler', 'Fishing Boat,Passenger Boat,Sport Boat', 'Fishing Boat,Fishing Boat,Hardtop,Pilothouse', 'Fishing Boat,Classic,Fishing Boat']), 'Category'] = 'Fishing Boat'

In [29]:
# View dataframe
df

,Boat Type,Manufacturer,Specifications,Year Built,Length,Width,Material,Price,Currency,Country,State_Region,Location,# of views last 7 days,Category
0,Motor Yacht,Bayliner Power Boats,"Used Boat, Unleaded",1992.00,7.70,2.46,Plastic,14900,CHF,Switzerland,Le Landeron,NaN,3263,Motor Yacht
1,Hardtop,Princess Power Boats,"Used Boat, Diesel",1979.00,11.12,3.88,GRP,35000,CHF,Switzerland,Neuenburgersee,Hauterive,2432,Hardtop
2,"Bowrider,Motor Yacht,Sport Boat",Windy Power Boats,"Used Boat, Diesel",2002.00,12.35,3.48,GRP,125900,CHF,Switzerland,Lago Maggiore,6600 Locarno,2261,Bowrider
3,Hardtop,Pershing Power Boats,"Used Boat, Diesel",2009.00,20.30,5.20,GRP,949000,EUR,Germany,Baltic Sea,Neustadt In Holstein,2154,Hardtop
4,Sport Boat,Sea Ray Power Boats,"Used Boat, Unleaded",1993.00,6.14,2.34,Plastic,19900,CHF,Switzerland,Murtensee,Avenches,2026,Sport Boat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9883,Hardtop,Jeanneau Power Boats,"New Boat From Stock, Diesel",2018.00,10.36,3.05,PVC,229950,GBP,United Kingdom,Lincoln,NaN,18,Hardtop
9884,Motor Yacht,NaN,"Used Boat, Diesel",2007.00,26.30,6.35,GRP,1500000,EUR,Italy,Mar Tirreno,NaN,18,Motor Yacht
9885,Center Console Boat,Bénéteau Power Boats,"New Boat From Stock, Unleaded",2020.00,6.41,2.48,PVC,62800,EUR,France,La Grande Motte,NaN,18,Center Console Boat
9886,Center Console Boat,Bénéteau Power Boats,"New Boat From Stock, Unleaded",2020.00,6.41,2.45,PVC,53900,EUR,France,Port Leucate,NaN,15,Center Console Boat
9887,Motor Yacht,Dominator Power Boats,"Used Boat, Diesel",2003.00,20.30,5.50,GRP,580000,EUR,Croatia,NaN,NaN,13,Motor Yacht

---------------------------------------------------------------------------------------------------------------------------
#### Frequency counts

In [30]:
# Get descriptive statistics for numerical columns again
df.describe()

       Year Built  Length   Width       Price  # of views last 7 days
count     9337.00 9879.00 9832.00     9888.00                 9888.00
mean      2004.91   11.57    3.52   320137.34                  149.16
std         16.36    6.00    1.22  1007482.24                  151.81
min       1885.00    1.04    0.01     3300.00                   13.00
25%       1999.00    7.47    2.54    44000.00                   70.00
50%       2008.00   10.28    3.33    95000.00                  108.00
75%       2018.00   13.93    4.25   255000.00                  172.00
max       2021.00  100.00   25.16 31000000.00                 3263.00

In [31]:
# Finding the minimum (min) of 'Boat Type'
min_boat_type = df['Category'].min()

# Finding the maximum (max) of 'Boat Type'
max_boat_type = df['Category'].max()

# Finding the mode of 'Boat Type'
mode_boat_type = df['Category'].mode()

# Displaying the results
print("Minimum Boat Type:", min_boat_type)
print("Maximum Boat Type:", max_boat_type)
print("Mode of Boat Type:", mode_boat_type)

Minimum Boat Type: Bowrider
Maximum Boat Type: nan
Mode of Boat Type: 0    Motor Yacht
Name: Category, dtype: object

In [32]:
# Finding the mode of categorical variables
# Specify the columns for the subset
subset_columns = ['Category', 'Manufacturer', 'Specifications', 'Material', 'Currency', 'Country', 'State_Region', 'Location']

# Create a subset with the specified columns
subset = df[subset_columns]

# Find the mode for the subset
subset_mode = subset.mode()

# Display the mode for the subset
subset_mode

,Category,Manufacturer,Specifications,Material,Currency,Country,State_Region,Location
0,Motor Yacht,Bénéteau Power Boats,"Used Boat, Diesel",GRP,EUR,Germany,Alem,Jachtmakelaardij de Maas

In [33]:
# Frequency value counts for 'Boat Type' column
boat_type_counts = df['Category'].value_counts(dropna=False)

# Display the results
boat_type_counts

Category
Motor Yacht            2870
nan                    2626
Sport Boat             1427
Trawler                 693
Cabin Boat              617
Hardtop                 510
Center Console Boat     374
Bowrider                308
Deck Boat               285
Fishing Boat            178
Name: count, dtype: int64

In [34]:
# Frequency value counts for 'Manufacturer' column
manufacturer_counts = df['Manufacturer'].value_counts(dropna=False)


# Display the results
manufacturer_counts

Manufacturer
NaN                      1334
Bénéteau Power Boats      631
Jeanneau Power Boats      537
Sunseeker Power Boats     383
Princess Power Boats      241
                         ...
Janmor Power Boats          1
Walser Power Boats          1
Schachner Power Boats       1
Hemiksem Power Boats        1
Lamor Power Boats           1
Name: count, Length: 910, dtype: int64

In [35]:
# Frequency value counts for 'Specifications' column
specifications_counts = df['Specifications'].value_counts(dropna=False)


# Display the results
specifications_counts

Specifications
Used Boat, Diesel                 4140
Used Boat, Unleaded               1686
Used Boat                         1462
New Boat From Stock, Unleaded     1106
New Boat From Stock                665
New Boat From Stock, Diesel        291
New Boat On Order, Unleaded        150
Display Model, Unleaded             75
New Boat On Order, Diesel           61
New Boat On Order                   61
Diesel                              57
Used Boat, Electric                 27
Unleaded                            22
Display Model, Diesel               19
Display Model                       18
New Boat From Stock, Electric       18
Used Boat, Gas                      10
NaN                                  6
Display Model, Electric              6
New Boat From Stock, Gas             2
New Boat From Stock, Hybrid          1
New Boat From Stock,  Unleaded       1
Used Boat, Propane                   1
Electric                             1
Used Boat, Hybrid                    1
Display Model, Gas                   1
Name: count, dtype: int64

In [36]:
# Frequency value counts for 'Year Built' column
year_built_counts = df['Year Built'].value_counts(dropna=False)


# Display the results
year_built_counts

Year Built
2020.00    1279
2019.00     663
NaN         551
2008.00     457
2007.00     393
           ...
1885.00       1
1935.00       1
1941.00       1
1917.00       1
1898.00       1
Name: count, Length: 122, dtype: int64

In [37]:
# Frequency value counts for 'Material' column
material_counts = df['Material'].value_counts(dropna=False)


# Display the results
material_counts

Material
GRP                    5484
NaN                    1749
PVC                    1123
Steel                   939
Wood                    235
Aluminium               229
Plastic                  77
Carbon Fiber             30
Thermoplastic            15
Hypalon                   5
Reinforced concrete       1
Rubber                    1
Name: count, dtype: int64

In [38]:
# Frequency value counts for 'Currency' column
currency_counts = df['Currency'].value_counts(dropna=False)

# Display the results
currency_counts

Currency
EUR    8188
CHF    1135
GBP     219
DKK     173
TRY      60
PLN      40
AED      17
SEK      13
RUB       7
CZK       5
USD       5
HUF       4
BGN       3
THB       3
UAH       2
Kr        2
AUD       2
MAD       1
TWD       1
RON       1
RSD       1
PHP       1
SCR       1
EGP       1
VED       1
GIP       1
LBP       1
Name: count, dtype: int64

In [39]:
# Frequency value counts for 'Country' column
country_counts = df['Country'].value_counts(dropna=False)


# Display the results
country_counts

Country
Germany                        2040
Italy                          1798
France                         1253
Switzerland                    1135
Netherlands                    1033
Croatia                         746
Spain                           702
United Kingdom                  218
Denmark                         173
Portugal                        135
Greece                           84
Austria                          83
Malta                            72
Belgium                          72
Turkey                           60
Slovenia                         40
Poland                           40
Finland                          36
NaN                              33
Montenegro                       22
United Arab Emirates             17
Sweden                           13
Slovak Republic                   9
Monaco                            8
Russian Federation                7
Estonia                           6
Czech Republic                    5
Cyprus                            5
Lithuania                         5
United States                     4
Hungary                           4
Thailand                          3
Latvia                            3
Bulgaria                          3
Australia                         2
Norway                            2
Ukraine                           2
Texas                             1
Gibraltar                         1
Venezuela                         1
Seychelles                        1
Lebanon                           1
Isle Of Man                       1
Egypt                             1
French Southern Territories       1
Philippines                       1
Taiwan                            1
Morocco                           1
Romania                           1
Luxembourg                        1
Serbia                            1
Ireland                           1
Name: count, dtype: int64

In [40]:
# Frequency value counts for 'State_Region' column
state_region_counts = df['State_Region'].value_counts(dropna=False)


# Display the results
state_region_counts

State_Region
NaN                     1061
Alem                     316
Lake Constance           243
Mallorca                 231
Toscana                  194
                        ...
Kamperland                 1
À Terre Sur Remorque       1
Kropswolde                 1
Calanova Mallorca          1
Gaastmeer                  1
Name: count, Length: 1184, dtype: int64

In [41]:
# Frequency value counts for 'Location' column
location_counts = df['Location'].value_counts(dropna=False)

# Display the results
location_counts

Location
NaN                         5665
Jachtmakelaardij de Maas     316
Toscana                      179
DD-Yachting                  125
Campania                     111
                            ...
Belotte                        1
Zürichsee                      1
Nasta Marine Sa                1
La Neuveville                  1
Gaeta, Lazio                   1
Name: count, Length: 1046, dtype: int64

In [42]:
# Export all frequency counts
subset_mode.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Frequency counts', 'categorical_modes.csv'))
boat_type_counts.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Frequency counts', 'boat_type_freq.csv'))
manufacturer_counts.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Frequency counts', 'manufacturer_freq.csv'))
specifications_counts.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Frequency counts', 'specifications_freq.csv'))
year_built_counts.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Frequency counts', 'year_built_freq.csv'))
material_counts.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Frequency counts', 'material_freq.csv'))
currency_counts.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Frequency counts', 'currency_freq.csv'))
country_counts.to_csv(os.path.join(path, '02 Data','Prepared Data','Frequency counts', 'country_freq.csv'))
state_region_counts.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Frequency counts', 'state_region_freq.csv'))
location_counts.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Frequency counts', 'location_freq.csv'))

---------------------------------------------------------------------------------------------------------------------------
#### Aggregate data, Derive new columns

In [43]:
# Conditions for Year Built
df.loc[df['Year Built'] < 2000, 'Year Built Condition'] = 'Old'
df.loc[(df['Year Built'] >= 2000) & (df['Year Built'] < 2010), 'Year Built Condition'] = 'Mid'
df.loc[df['Year Built'] >= 2010, 'Year Built Condition'] = 'New'

# Frequency of Year Built Condition
year_built_cond_freq = df['Year Built Condition'].value_counts(dropna=False)

In [44]:
# Conditions for Length
df.loc[df['Length'] < 7.47, 'Length Condition'] = 'Short'
df.loc[(df['Length'] >= 7.47) & (df['Length'] < 13.93), 'Length Condition'] = 'Medium'
df.loc[df['Length'] >= 13.93, 'Length Condition'] = 'Long'

# Frequency of Length Condition
length_cond_freq = df['Length Condition'].value_counts(dropna=False)

In [45]:
# Conditions for Width
df.loc[df['Width'] < 2.54, 'Width Condition'] = 'Narrow'
df.loc[(df['Width'] >= 2.54) & (df['Width'] < 4.25), 'Width Condition'] = 'Medium'
df.loc[df['Width'] >= 4.25, 'Width Condition'] = 'Wide'

# Frequency of Width Condition
width_cond_freq = df['Width Condition'].value_counts(dropna=False)

In [46]:
# Conditions for Price
df.loc[df['Price'] < 44000, 'Price Condition'] = 'Low-value product'
df.loc[(df['Price'] >= 44000) & (df['Price'] < 255000), 'Price Condition'] = 'Mid-value product'
df.loc[df['Price'] >= 255000, 'Price Condition'] = 'High-value product'

# Frequency of Price Condition
price_cond_freq = df['Price Condition'].value_counts(dropna=False)

In [47]:
# Conditions for Number of views last 7 days
df.loc[df['# of views last 7 days'] < 70, 'Views Condition'] = 'Low Views'
df.loc[(df['# of views last 7 days'] >= 70) & (df['# of views last 7 days'] < 172), 'Views Condition'] = 'Medium Views'
df.loc[df['# of views last 7 days'] >= 172, 'Views Condition'] = 'High Views'

# Frequency of Views Condition
views_cond_freq = df['Views Condition'].value_counts(dropna=False)

In [48]:
# Review the final clean & prepared dataframe
df

,Boat Type,Manufacturer,Specifications,Year Built,Length,Width,Material,Price,Currency,Country,State_Region,Location,# of views last 7 days,Category,Year Built Condition,Length Condition,Width Condition,Price Condition,Views Condition
0,Motor Yacht,Bayliner Power Boats,"Used Boat, Unleaded",1992.00,7.70,2.46,Plastic,14900,CHF,Switzerland,Le Landeron,NaN,3263,Motor Yacht,Old,Medium,Narrow,Low-value product,High Views
1,Hardtop,Princess Power Boats,"Used Boat, Diesel",1979.00,11.12,3.88,GRP,35000,CHF,Switzerland,Neuenburgersee,Hauterive,2432,Hardtop,Old,Medium,Medium,Low-value product,High Views
2,"Bowrider,Motor Yacht,Sport Boat",Windy Power Boats,"Used Boat, Diesel",2002.00,12.35,3.48,GRP,125900,CHF,Switzerland,Lago Maggiore,6600 Locarno,2261,Bowrider,Mid,Medium,Medium,Mid-value product,High Views
3,Hardtop,Pershing Power Boats,"Used Boat, Diesel",2009.00,20.30,5.20,GRP,949000,EUR,Germany,Baltic Sea,Neustadt In Holstein,2154,Hardtop,Mid,Long,Wide,High-value product,High Views
4,Sport Boat,Sea Ray Power Boats,"Used Boat, Unleaded",1993.00,6.14,2.34,Plastic,19900,CHF,Switzerland,Murtensee,Avenches,2026,Sport Boat,Old,Short,Narrow,Low-value product,High Views
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9883,Hardtop,Jeanneau Power Boats,"New Boat From Stock, Diesel",2018.00,10.36,3.05,PVC,229950,GBP,United Kingdom,Lincoln,NaN,18,Hardtop,New,Medium,Medium,Mid-value product,Low Views
9884,Motor Yacht,NaN,"Used Boat, Diesel",2007.00,26.30,6.35,GRP,1500000,EUR,Italy,Mar Tirreno,NaN,18,Motor Yacht,Mid,Long,Wide,High-value product,Low Views
9885,Center Console Boat,Bénéteau Power Boats,"New Boat From Stock, Unleaded",2020.00,6.41,2.48,PVC,62800,EUR,France,La Grande Motte,NaN,18,Center Console Boat,New,Short,Narrow,Mid-value product,Low Views
9886,Center Console Boat,Bénéteau Power Boats,"New Boat From Stock, Unleaded",2020.00,6.41,2.45,PVC,53900,EUR,France,Port Leucate,NaN,15,Center Console Boat,New,Short,Narrow,Mid-value product,Low Views
9887,Motor Yacht,Dominator Power Boats,"Used Boat, Diesel",2003.00,20.30,5.50,GRP,580000,EUR,Croatia,NaN,NaN,13,Motor Yacht,Mid,Long,Wide,High-value product,Low Views

In [49]:
# Re-order columns for easier analysis
df = df[
    ['Category', 'Manufacturer', 'Specifications', 'Year Built', 'Year Built Condition',
     'Length', 'Length Condition', 'Width', 'Width Condition', 'Material',
     'Price', 'Price Condition', 'Currency', 'Country', 'State_Region',
     'Location', '# of views last 7 days', 'Views Condition']
]

df

,Category,Manufacturer,Specifications,Year Built,Year Built Condition,Length,Length Condition,Width,Width Condition,Material,Price,Price Condition,Currency,Country,State_Region,Location,# of views last 7 days,Views Condition
0,Motor Yacht,Bayliner Power Boats,"Used Boat, Unleaded",1992.00,Old,7.70,Medium,2.46,Narrow,Plastic,14900,Low-value product,CHF,Switzerland,Le Landeron,NaN,3263,High Views
1,Hardtop,Princess Power Boats,"Used Boat, Diesel",1979.00,Old,11.12,Medium,3.88,Medium,GRP,35000,Low-value product,CHF,Switzerland,Neuenburgersee,Hauterive,2432,High Views
2,Bowrider,Windy Power Boats,"Used Boat, Diesel",2002.00,Mid,12.35,Medium,3.48,Medium,GRP,125900,Mid-value product,CHF,Switzerland,Lago Maggiore,6600 Locarno,2261,High Views
3,Hardtop,Pershing Power Boats,"Used Boat, Diesel",2009.00,Mid,20.30,Long,5.20,Wide,GRP,949000,High-value product,EUR,Germany,Baltic Sea,Neustadt In Holstein,2154,High Views
4,Sport Boat,Sea Ray Power Boats,"Used Boat, Unleaded",1993.00,Old,6.14,Short,2.34,Narrow,Plastic,19900,Low-value product,CHF,Switzerland,Murtensee,Avenches,2026,High Views
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9883,Hardtop,Jeanneau Power Boats,"New Boat From Stock, Diesel",2018.00,New,10.36,Medium,3.05,Medium,PVC,229950,Mid-value product,GBP,United Kingdom,Lincoln,NaN,18,Low Views
9884,Motor Yacht,NaN,"Used Boat, Diesel",2007.00,Mid,26.30,Long,6.35,Wide,GRP,1500000,High-value product,EUR,Italy,Mar Tirreno,NaN,18,Low Views
9885,Center Console Boat,Bénéteau Power Boats,"New Boat From Stock, Unleaded",2020.00,New,6.41,Short,2.48,Narrow,PVC,62800,Mid-value product,EUR,France,La Grande Motte,NaN,18,Low Views
9886,Center Console Boat,Bénéteau Power Boats,"New Boat From Stock, Unleaded",2020.00,New,6.41,Short,2.45,Narrow,PVC,53900,Mid-value product,EUR,France,Port Leucate,NaN,15,Low Views
9887,Motor Yacht,Dominator Power Boats,"Used Boat, Diesel",2003.00,Mid,20.30,Long,5.50,Wide,GRP,580000,High-value product,EUR,Croatia,NaN,NaN,13,Low Views

In [50]:
# Export final clean/prepared dataset and aggregated frequency counts
df.to_csv(os.path.join(path, '02 Data','Prepared Data', 'boat_sales_final.csv'))

# Export Frequency of Year Built Condition
year_built_cond_freq.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Conditions frequency counts', 'year_built_cond_freq.csv'))

# Export Frequency of Length Condition
length_cond_freq.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Conditions frequency counts', 'length_cond_freq.csv'))

# Export Frequency of Width Condition
width_cond_freq.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Conditions frequency counts', 'width_cond_freq.csv')) 

# Export Frequency of Price Condition
price_cond_freq.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Conditions frequency counts', 'price_cond_freq.csv'))

# Export Frequency of Views Condition
views_cond_freq.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Conditions frequency counts', 'views_cond_freq.csv'))

---------------------------------------------------------------------------------------------------------------------------
### 7. Create and export "Viewing by Appointment Only" subset

In [51]:
# Create subset for "Viewing by Appointment Only"
# Create a subset based on the 'State_Region' column
subset_by_appointment = df[df['State_Region'] == 'Viewing by Appointment Only']

# Display the subset
subset_by_appointment

,Category,Manufacturer,Specifications,Year Built,Year Built Condition,Length,Length Condition,Width,Width Condition,Material,Price,Price Condition,Currency,Country,State_Region,Location,# of views last 7 days,Views Condition
48,Motor Yacht,Rodriguez Group (Italyachts) Power Boats,"Used Boat, Diesel",2010.00,New,41.10,Long,8.40,Wide,Aluminium,5900000,High-value product,EUR,France,Viewing by Appointment Only,NaN,986,High Views
529,Cabin Boat,Draco Power Boats,"Used Boat, Unleaded",1989.00,Old,9.00,Medium,3.12,Medium,Carbon Fiber,52000,Mid-value product,CHF,Switzerland,Viewing by Appointment Only,NaN,380,High Views
895,Trawler,NaN,Used Boat,1993.00,Old,10.50,Medium,3.70,Medium,Steel,49500,Mid-value product,EUR,Netherlands,Viewing by Appointment Only,NaN,297,High Views
941,nan,NaN,New Boat From Stock,2020.00,New,12.50,Medium,4.20,Medium,Wood,31800,Low-value product,PLN,Poland,Viewing by Appointment Only,NaN,290,High Views
1094,nan,Yamarin Power Boats,New Boat From Stock,2020.00,New,6.77,Short,2.54,Medium,GRP,52000,Mid-value product,EUR,Germany,Viewing by Appointment Only,NaN,270,High Views
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9433,nan,NaN,New Boat From Stock,2020.00,New,8.50,Medium,3.80,Medium,Steel,149900,Mid-value product,EUR,Netherlands,Viewing by Appointment Only,NaN,38,Low Views
9455,Trawler,Marhen Power Boats,Used Boat,2006.00,Mid,10.85,Medium,3.60,Medium,Steel,119500,Mid-value product,EUR,Netherlands,Viewing by Appointment Only,NaN,38,Low Views
9483,Motor Yacht,NaN,"Used Boat, Diesel",2016.00,New,14.00,Long,4.30,Wide,Steel,575000,High-value product,EUR,Netherlands,Viewing by Appointment Only,NaN,37,Low Views
9486,Motor Yacht,Fairline Power Boats,"Used Boat, Diesel",2006.00,Mid,18.88,Long,4.75,Wide,GRP,440000,High-value product,EUR,Croatia,Viewing by Appointment Only,NaN,37,Low Views
9610,Motor Yacht,NaN,New Boat From Stock,NaN,nan,19.59,Long,4.05,Medium,Steel,140000,Mid-value product,EUR,Netherlands,Viewing by Appointment Only,NaN,34,Low Views

---------------------------------------------------------------------------------------------------------------------------
### 8. Exporting subset data

In [52]:
#Export
subset_by_appointment.to_csv(os.path.join(path, '02 Data','Prepared Data', 'subset_by_appointment.csv'))